h1, h2 {
	font-weight: 200;
	margin: 0.4em 0;
}

#animatedText {
	font-family: "Poppins", sans-serif;
	color: rgba(256, 256, 256,1) !important;
	!important font-size: 16px;
	color: #aaa;
	font-size: 3.5em;
}

